<div class="chat">
    <h3>Chat del Ecommerce de JGDA</h3>
    <input id="chatBox" placeholder="Escribe tu mensaje..." />
    <button id="sendButton">Enviar</button>
    <div id="messageLogs"></div>
</div>

<script src="/js/chat.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>