<div class="messageHome">
    <h2>
        Bienvenido al proyecto ecommerce de JG.
    </h2>
    <p class="saludoCliente">
        <b>Nombre:</b>  {{user.first_name}}
        <b>Apellido:</b>  {{user.last_name}}
        <b>Email:</b>  {{user.email}}
        <b>Edad</b>  {{user.age}}
    </p>
</div>