<div class="messageHome">
<h2>
    Bienvenido al proyecto ecommerce de JG.
</h2>
<p class="saludoCliente">
    ¡Hola, {{name}}!
</p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
