<div class="restore-container">
    <h1>Restaurar Contraseña</h1>
    <form method="post" action="/api/users/forgot-password" class="restore-form">
        <div class="form-restore-password">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <button type="submit" class="btn">Envíar link para resetear la contraseña</button>
    </form>
</div>