<div class="restore-container">
    <h1>Restaurar Contraseña</h1>
    <form method="post" action="/api/users/reset-password/{{token}}" id="reset-password-form" class="restore-form">
        <div class="form-restore-password">
            <label for="password">Nueva Contraseña</label>
            <input type="password" name="password" id="password" required style="text-align: center;">
        </div>
        <button type="submit" class="btn">Cambiar Contraseña</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const token = '{{token}}';

        // Verificar la validez del token al cargar la página
        try {
            const response = await fetch(`/api/users/validate-reset-token/${token}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.expired) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Token Expirado',
                    text: data.message || 'Token expirado o inválido.',
                }).then(() => {
                    window.location.href = '/reset-password-expired';
                });
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Algo salió mal. Por favor, inténtalo de nuevo.'
            }).then(() => {
                window.location.href = '/reset-password-expired';
            });
        }

        document.getElementById('reset-password-form').addEventListener('submit', async function(e) {
            e.preventDefault();
            const password = document.getElementById('password').value;

            try {
                const response = await fetch(`/api/users/reset-password/${token}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ password })
                });
                const data = await response.json();
                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Contraseña restablecida',
                        text: data.message,
                    }).then(() => {
                        window.location.href = '/login';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message || 'Algo salió mal. Por favor, inténtalo de nuevo.'
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Algo salió mal. Por favor, inténtalo de nuevo.'
                });
            }
        });
    });
</script>