<div class="restore-container">
    <h1>Token Expirado</h1>
    <p>El enlace para restablecer tu contraseña ha expirado. Por favor, ingresa tu correo electrónico para enviar un nuevo enlace de restablecimiento.</p>
    <form id="resend-reset-form" class="restore-form">
        <div class="form-restore-password">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <button type="submit" class="btn">Enviar nuevo enlace</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('resend-reset-form');
        if (form) {
            form.addEventListener('submit', async function (e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                try {
                    const response = await fetch('/api/users/forgot-password', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ email })
                    });
                    const data = await response.json();
                    if (response.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Correo enviado',
                            text: data.message,
                        }).then(() => {
                            window.location.href = '/login';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message || 'Algo salió mal. Por favor, inténtalo de nuevo.'
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal. Por favor, inténtalo de nuevo.'
                    });
                }
            });
        }
    });
</script>