<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!--Link del CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!--link de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Righteous&family=Roboto:ital,wght@0,100;1,900&display=swap" rel="stylesheet">

    <!--Link iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

<div class="header-container">
    <header class="header">
        <a href="/" class="logo">Ecommerce</a>

        <nav class="navbar">
            <a href="/products">Productos</a>
            <a href="/realtimeproducts">Modificar productos</a>
            <a href="#">Contacto</a>
        </nav>
        <div class="menu-toggle">
            <i class="bi bi-list"></i>
        </div>
    </header>
</div>
    

    <h1 class="title-ecommerce">Ecommerce de JGDA</h1>

    {{{body}}}

<!-- Footer -->
    <footer>
        <p>Ecommerce de JGDA. Derechos reservados. 2.024</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/mainresponsive.js"></script>
</body>
</html>